<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css"
      rel="stylesheet"
    />
  	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600" rel="stylesheet" type="text/css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
		<link

      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/media.css">

    <title>Трубы</title>
  </head>
  <body>





    <div class="bg-reset">
      <div class="container">
        <header class="header flex">
          <div class="left-wing flex">
            <img class="logo" src="/img/logo.png" alt="logo" />
            <p class="header-descr">
              Бесплатная доставка по <br />всему Казахстану
            </p>
          </div>
          <div class="right-wing">
            <div class="phone-reset">
              <span>
                <img class="zvonok" src="/img/phone-call.svg" alt="" />
              </span>
              <strong
                ><a class="telephone" href="tel:77009999999"
                  >+7 (999)999-99-99</a
                ></strong
              >
            </div>
            <div class="post-reset">
              <span>
                <img class="post" src="/img/mail.svg" alt="" />
              </span>
              <a class="email" href="mailto:Metalon2017@bk.ru"
                >Metalon2017@bk.ru</a
              >
            </div>
          </div>
        </header>
        <hr />
        <section class="first-sect">
          <div class="first-sc-wing">
            <h1 class="first-sc-head">
              РЕАЛИЗАЦИЯ ПРОКАТА ОТПОМ И В РОЗНИЦУ С ДОСТАВКОЙ ПО ВСЕМУ
              КАЗАХСТАНУ
            </h1>
            <div class="first-sc-content">
              <span class="first-sc-text">
                Оформим быстрый расчёт стоимости
              </span>

              <br />
              <span class="first-sc-text"> Есть сертификаты качества </span>

              <br />
              <span class="first-sc-text"
                >Существует опция отсрочки платежа</span
              >
            </div>
          </div>




        </section>

        <div class="arrow-7">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <div class="container">
      <section class="second-sct">
        <h2 class="second-sct-head">
          В НАЛИЧИИ ШИРОКИЙ СОРТАМЕНТ МЕТАЛЛОПРОКАТА
        </h2>
        <p class="second-sct-text">
          Наша продукция с доставкой до объекта c отсрочкой платежа
        </p>
        <div id="parent"></div>
				<div class="first-sc-form">
					<form action="/send-email" method="post">
						<h3>Напишите нам на почту</h3>
						<div class="form-flex">



								<input
								class="form-input-name"
								name="name"
								type="text"
								placeholder="Введите имя"
								/>

							<!-- <div class="flex-elem"> -->

								<input
								class="form-input-email"
								name="email"
								type="email"
								placeholder="Введите ваш email"
								/>
								<input
								class="form-input-tel"
								name="phone"
								type="text"
								placeholder="Введите номер телефона"
								/>
							<!-- </div> 	 -->
							<input
								class="form-input-msg"
								name="message"
								type="text"
								placeholder="Введите сообщение"
							/>
							<button class="form-btn" type="submit">Отправить</button>
						</div>
					</form>
				</div>
				<div class="container">
        <div class="third-sct">
          <h2 class="third-sct-header">ПОЧЕМУ ИМЕННО МЫ</h2>
          <div id="cardes"></div>
        </div>
      </div>
    </section>

	</div>
	<section class="bg-restart">
		<div class="container">
			<!-- <div class="fifth-sct">
				<h2 class="fifth-sct-header">
					МЕТАЛОН 2017 - один из ведущих продавцов металлопроката в Казахстане
				</h2>

				<p class="fifth-sct-text">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Большого текстов власти ipsum страна текста, всеми осталось взобравшись первую, его но эта от всех продолжил букв буквоград повстречался переулка! Толку?</p>

				<div class="fifth-sct-number">
            <div class="fifth-sct-flex">
							<p class="fifth-sct-numbers">X</p>
              <p class="fifth-sct-parag">Lorem ipsum dolor sit consectetur</p>
            </div>
            <div class="fifth-sct-flex">
							<p class="fifth-sct-numbers">X</p>
              <p class="fifth-sct-parag">Lorem ipsum dolor sit consectetur</p>
            </div>
            <div class="fifth-sct-flex">
							<p class="fifth-sct-numbers">X</p>
              <p class="fifth-sct-parag">Lorem ipsum dolor sit consectetur</p>
            </div>
          </div>
        </div> -->
      </div>
    </section>
    <footer class="footer">
      <div class="footer-gen-left">
        <div class="footer-gen-left-info">
            <img src="/img/footer-logo.svg" alt="">
            <div class="telep">
              <span><img src="/img/telep.svg" alt=""></span>
              <a href="tel:+77003317746">+7 (700) 331-77-46</a>
            </div>
            <a href="tel:+77003317744">+7 (700) 331-77-44</a>
            <a href="tel:+77003317745">+7 (700) 331-77-45</a>
            <div class="mail-span">
              <span><img src="/img/footer-mail.svg" alt=""></span>
              <a href="mailto:metalon2017@bk.ru">metalon2017@bk.ru</a>
            </div>
        </div>
        <div class="footer-gen-left-nav">

        </div>
      </div>
      <div class="footer-gen-right">

      </div>
    </footer>
    <!-- <section class="bg-rebalance">
			<div class="container">



      </div>



		</section> -->
    <script src="/scripts/mail-handler.js"></script>
    <script src="/scripts/script.js"></script>
  </body>
</html>
