<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />

    <title>Трубы</title>
  </head>
  <body>
		<div class="bg-reset">
		<div class="container">
      <header class="header flex">
        <div class="left-wing flex">
          <img class="logo" src="/img/bbbb.png" alt="logo" />
          <p class="header-descr">
            Бесплатная доставка по <br />всему Казахстану
          </p>
        </div>
        <div class="right-wing">
          <div class="phone-reset">
            <span>
              <img class="zvonok" src="/img/phone-call.svg" alt="" />
            </span>
            <strong
              ><a class="telephone" href="tel:77009999999"
                >+7 (999)999-99-99</a
              ></strong
            >
          </div>
          <div class="post-reset">
            <span>
              <img class="post" src="/img/mail.svg" alt="" />
            </span>
            <a class="email" href="mailto:Metalon2017@bk.ru">Metalon2017@bk.ru</a
            >
          </div>
        </div>
      </header>
			<hr>
      <section class="first-sect">
        <div class="first-sc-wing">
          <h1 class="first-sc-head">
            <strong>РЕАЛИЗАЦИЯ ПРОКАТА ОТПОМ И&nbsp;В&nbsp;РОЗНИЦУ С&nbsp;ДОСТАВКОЙ ПО&nbsp;ВСЕМУ КАЗАХСТАНУ</strong>
          </h1>
          <div class="first-sc-content">
            <span class="first-sc-text">Оформим быстрый расчёт стоимости</span>
            <br>
            <span class="first-sc-text">Есть сертификаты качества</span>
            <br>
            <span class="first-sc-text">Существует опция отсрочки платежа</span>
          </div>
        </div>
        <div class="right-sc-wing">
          <div class="first-sc-form">
            <form action="/send-email" method="post">
              <h3>Напишите нам на почту</h3>
              <input class="form-input-name" name="name" type="text" placeholder="Введите имя">
              <input class="form-input-email" name="email" type="email" placeholder="Введите ваш email">
              <input class="form-input-tel" name="phone" type="text" placeholder="Введите номер телефона">
              <input class="form-input-msg" name="message" type="text" placeholder="Введите сообщение">
              <button type="submit">Отправить</button>
          </form>
          </div>

        </div>
      </section>

    <div class="arrow-7">
    <span></span>
    <span></span>
    <span></span>
    </div>
    </div>
  </div>
	<div class="container">
		<section class="second-sct">
			<h2	class="second-sct-head">В НАЛИЧИИ ШИРОКИЙ СОРТАМЕНТ МЕТАЛЛОПРОКАТА</h2>
			<p class="second-sct-text">Наша продукция с доставкой до объекта и отсрочкой платежа</p>
			<div id="parent"></div>
			<div class="third-sct">
				<h2 class="third-sct-header">
					ПОЧЕМУ ИМЕННО МЫ
				</h2>
				<div id="cardes"></div>
			</div>
		</section>
	</div>
	<script src="/scripts/mail-handler.js"></script>
	<script src="/scripts/script.js"></script>
  </body>
</html>
